:root {
  /* Primary Colors */
  --color-primary-dark: #11172c;
  --color-primary-light: #521a7e;
  --color-purple-950: #3b0764;

  /* Secondary Colors */
  --color-secondary: #d82b7c;
  --color-secondary-light: #ea75c1;

  /* Tertiary Color */
  --color-tertiary: #1f293c;

  --color-body-text: #b5cde1;
  --color-green: #68c485;
  --color-section-bg: #2a214d;
}

/* Font families
1. Inter for headings
2. Roboto for body texts
 */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to right,
    var(--color-primary-dark),
    var(--color-purple-950)
  );
  font-family: 'Roboto';
}

/* General Styles */
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.section-hero {
  .nav {
    background-color: #1f293c;
    border-bottom: 1px solid #777;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* .logo {
    width: 10rem;
    height: 10rem;
  } */

  .logo {
    font-size: 3rem;
    text-transform: capitalize;
    background-image: linear-gradient(
      to right,
      var(--color-primary-light),
      var(--color-secondary-light)
    );
    color: transparent;
    background-clip: text;
  }

  .nav__items {
    font-size: 1.8rem;
    display: flex;
  }

  .nav__item {
  }

  .nav__link {
  }
}
